@font-face {
    font-family: "Nintend";
    src: url("../media/fonts/Nintend Bold.otf");
    /* source - https://www.fontspace.com/lyric-type/nintend */
}

/* * {
    border: 1px solid black;
} */

body {
    font-family: Nintend;
    display: flex;
    flex-flow: column;
    margin: 0;
}

#logo {
    display: block;
    width: 80px;
    margin: 0 15px;
}

h1 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    font-size: 42px;
}

a#documentation {
    display: block;
    width: fit-content;
    margin: 15px;
    margin-left: auto;
}

a {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 1px 1px 1px darkgray;
    
}

a:link {
    color: red;
}

a:visited {
    color: gray;
}

a:hover {
    color: #ffcccc;
}

a:active {
    color: black;
}

#search-area {
    display: flex;
    align-items: center;

    background-color: red;
    padding: 20px;
}

#search-area > * {
    margin: 0 10px;
}

#search-area label {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

#search-area input[type="text"] {
    flex: 1 0 20px;
    
    border: 0;
    border-radius: 8px;
    padding: 10px;

    font-family: Helvetica;
}

#search-parameters {
    display: flex;
    align-items: center;

    background-color: red;
    padding: 20px;
}

#search-parameters .parameter {
    display: flex;
    align-items: center;

    margin: 0 10px;
}

#search-parameters label {
    display: block;
    margin: 0 10px;

    font-size: 25px;
    
    font-weight: bold;
}

#search-parameters select {
    display: block;
    
    margin-left: 10px;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    width: 100%;

    box-shadow: 1px 1px 5px black;

    font-family: Helvetica;
}

#search-parameters select option {
    font-family: Helvetica;
}

#search-parameters select option:active {
    background-color: #ffcccc;
}

#special-searches {
    display: flex;
    align-items: center;

    background-color: red;
    padding: 20px;
}

#special-searches > * {
    margin: 0 10px;
}

label {
    color: white;
}

button {
    color: red;
    background-color: white;

    width: fit-content;
    border: 0;
    border-radius: 8px;
    padding: 15px;

    box-shadow: 1px 1px 5px black;

    font-family: Nintend;
    font-weight: bold;
    font-size: 20px;

    transition: transform 0.1s ease-out;
}

button:hover {
    background-color: #ffcccc;
    transform: scale(1.025);
}

button:active {
    color: white;
    background-color: #cc0000;
    transform: scale(1);
}

main {
    display: flex;
    flex-flow: column;

    flex: 1 0 auto;
}

#status {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
    margin: 100px auto;
    text-align: center;
}

#status img {
    display: block;
    margin: 20px;
}

#showing-results {
    margin: 25px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
}

#results-gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: fit-content;
    margin: 50px auto;
}

#gallery-item {
    display: flex;
    flex-flow: column;

    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    height: 600px;
    font-family: Helvetica;

    transition: transform 0.1s ease-out;
    transition: background-color 0.1 ease-out;
}

#gallery-item img {
    width: 250px;
    margin-top: auto;
}

#gallery-item:hover {
    transform: scale(1.025);
    background-color: #F6F6F6;
}

#gallery-item:active {
    transform: scale(1);
    background-color: #E5E5E5;
}

#amiibo-info {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    width: fit-content;
    margin: 50px auto;
}

#amiibo {
    margin: 25px;
}

#amiibo h2 {
    text-align: center;
    font-family: Helvetica;
    font-size: 36px;
    margin: 25px;
}

#amiibo img {
    display: block;
    margin: auto;
    max-width: 500px;
}

#info {
    font-family: Helvetica;
    
    background-color: red;
    border-radius: 8px;

    margin: 25px;
}

#info-list {
    list-style-type: none;

    padding: 0;
    margin: 0;
    
}

#info-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    background-color: white;
    border-radius: 8px;

    margin: 25px;
    padding: 15px;

    font-size: 18px;
}

#info-list li h3 {
    margin: 0;
    margin-right: 10px;
}

#dates-list {
    list-style-type: none;
    padding-left: 5px;
}

#dates-list li img {
    width: 30px;
    margin-right: 20px;
}

#amazon-search {
    display: block;
    width: fit-content;
    margin: 20px auto;
}

#bottom-image {
    margin-top: auto;
}

#bottom-image img {
    display: block;
    width: 100vw;
    user-select: none;
    -webkit-user-drag: none;
}

#description, #process, #sources, #contributions {
    background-color: red;
    color: white;
    padding-left: 100px;
}

#descriptionp, #processp, #sourcesp, #contributionsp {
    background-color: white;
    color: black;
    padding: 10px 100px;
    font-family: Helvetica;
    font-size: 30px;
    max-width: 1500px;
    text-align: justify;
    line-height: 1.6;
}

#sourcesp p a {
    font-size: 18px;
}

.hide {
    display: none;
}

@media screen and (max-width: 880px) {
    #search-area {
        display: grid;

        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: auto;

        grid-template-areas: "label  go     go    "
                             "search go     go    "
                             ".      go     go    "
                             "random random random"
                             "all    all    all   "
                             "new    new    new   ";
    }

    #search-area label {
        grid-area: label;
        margin-bottom: 5px;
    }
    
    #search-area input[type="text"] {
        grid-area: search;
        margin: 0;
    }

    #search-area #go {
        grid-area: go;
        justify-self: center;
        align-self: center;

        width: 100px;
        height: 100px;

        font-size: 40px;
    }

    #search-area #random-amiibo {
        grid-area: random;
        justify-self: center;

        margin-top: 20px;
        width: 100%;
    }

    #search-area #show-all {
        grid-area: all;
        justify-self: center;

        margin-top: 20px;
        width: 100%;
    }

    #search-area #newest-releases {
        grid-area: new;
        justify-self: center;

        margin-top: 20px;
        width: 100%;
    }

    #search-parameters {
        flex-flow: column;
    }

    #search-parameters .parameter {
        width: 100%;
        flex-flow: column;
    }

    #search-parameters .parameter > * {
        width: 100%;
        margin: 10px 0;
    }

    #amiibo-info {
        flex-flow: column nowrap;
    }

    #info-list li {
        display: flex;
        flex-flow: column;
    }

    #dates-list {
        display: flex;
        flex-flow: column;
    }

    #dates-list li {
        display: inline;
        margin: 5px;
    }

    #description, #process, #sources, #contributions {
        background-color: red;
        color: white;
        padding-left: 100px;
    }
    
    #descriptionp, #processp, #sourcesp, #contributionsp {
        padding: 25px;
        font-size: 24px;
        text-align: justify;
        line-height: 1.6;
    }
}